Repository allenlinli/weihung-pai: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bun-typecheck-bot

mypy:
  name: mypy
  entry: uv run mypy
  language: system
  args:
  - --ignore-missing-imports

bun-typecheck-bot:
  name: bun typecheck (pai-bot)
  entry: bash -c 'cd pai-bot && bun run typecheck'
  language: system
  pass_filenames: false

fix: simplify semantic-release config
  .semantic-release/CHANGELOG.md.j2
  pyproject.toml
Due: none

fix: correct semantic-release workflow
  .github/workflows/release.yml
  pyproject.toml
Due: none

refactor: move workspace gitignore rules to local file
  .gitignore
  pai-claude/workspace/.gitignore
Due: none

fix: update semantic-release changelog config for v10 compatibility
  pyproject.toml
  uv.lock
Due: none

feat(scheduler): add execution logs, update tool, and error notifications
  pai-bot/src/index.ts
  pai-bot/src/mcp/server.ts
  pai-bot/src/mcp/tools/google.ts
  pai-bot/src/mcp/tools/scheduler.ts
  pai-bot/src/mcp/tools/system.ts
  pai-bot/src/services/scheduler.ts
  pai-bot/src/storage/schema.sql
  pai-claude/.mcp.json
Due: bun-typecheck-bot

chore(release): 1.1.1
  pyproject.toml
Due: none

fix: correct semantic-release changelog config section
  pyproject.toml
Due: none

chore(release): 1.1.2
  pyproject.toml
Due: none

feat: add Ollama installation for local embedding
  ansible/playbooks/init/setup-vps.yml
  scripts/__main__.py
  scripts/bot.py
  uv.lock
Due: mypy

feat: add long-term memory system with sqlite-vec
  ansible/playbooks/templates/bot.env.j2
  pai-bot/bun.lock
  pai-bot/package.json
  pai-bot/src/config.ts
  pai-bot/src/memory/consolidation.ts
  pai-bot/src/memory/constants.ts
  pai-bot/src/memory/embedding.ts
  pai-bot/src/memory/extractor.ts
  pai-bot/src/memory/index.ts
  pai-bot/src/memory/maintenance.ts
  pai-bot/src/memory/manager.ts
  pai-bot/src/platforms/telegram/bot.ts
  pai-bot/src/platforms/telegram/handlers.ts
Due: bun-typecheck-bot

fix: add sqlite-vec to dependencies
  pai-bot/bun.lock
  pai-bot/package.json
Due: none

fix: correct SQL parameter count in findSimilar
  pai-bot/src/memory/manager.ts
Due: bun-typecheck-bot

fix: use L2 distance threshold for deduplication
  pai-bot/src/memory/constants.ts
  pai-bot/src/memory/manager.ts
Due: bun-typecheck-bot

chore: adjust dedup threshold to 8.0
  pai-bot/src/memory/constants.ts
  pyproject.toml
  setup/tests/__init__.py
  setup/tests/conftest.py
  uv.lock
Due: mypy, bun-typecheck-bot

refactor: use Haiku for memory extraction, disable expiry
  pai-bot/src/memory/constants.ts
  pai-bot/src/memory/extractor.ts
Due: bun-typecheck-bot

test: add unit tests for setup module
  pyproject.toml
  setup/tests/conftest.py
  setup/tests/test_command.py
  setup/tests/test_ssh.py
  setup/tests/test_state.py
  setup/tests/test_ui.py
  setup/tests/test_yaml.py
  uv.lock
Due: mypy

chore: use latest haiku model alias
  pai-bot/src/memory/consolidation.ts
  pai-bot/src/memory/extractor.ts
Due: bun-typecheck-bot

feat: add Gemini 2.5 Flash support for memory extraction
  ansible/inventory/group_vars/all/vault.yml.example
  ansible/playbooks/deploy-claude.yml
  ansible/playbooks/templates/bot.env.j2
  pai-bot/bun.lock
  pai-bot/package.json
  pai-bot/src/config.ts
  pai-bot/src/memory/consolidation.ts
  pai-bot/src/memory/extractor.ts
  pai-bot/src/memory/llm.ts
  pai-claude/CLAUDE.md
  setup/config.py
  setup/tests/test_config.py
  setup/utils/yaml.py
Due: mypy, bun-typecheck-bot

chore: add gemini api key and enable memory/fabric
  ansible/inventory/group_vars/all/vault.yml
Due: none

chore(release): 1.4.0
  pyproject.toml
Due: none

fix: correct server IP extraction in deploy workflow
  .github/workflows/deploy.yml
Due: none

chore(release): 1.4.1
  pyproject.toml
Due: none

feat: add configurable timezone support
  ansible/inventory/group_vars/all/vault.yml
  ansible/inventory/group_vars/all/vault.yml.example
  ansible/playbooks/init/setup-vps.yml
  ansible/playbooks/templates/bot.env.j2
  pai-bot/src/services/scheduler.ts
  setup/config.py
  uv.lock
Due: mypy, bun-typecheck-bot

fix: update semantic-release config for uv.lock and changelog
  pyproject.toml
Due: none

chore(release): 1.5.1
  pyproject.toml
  uv.lock
Due: none

chore(release): 1.5.3
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix: improve hook notifications with more details
  pai-claude/scripts/on-post-tool-use.ts
  pai-claude/scripts/on-subagent-stop.ts
Due: none

chore(release): 1.5.6
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix: restore --verbose flag and fix duplicate notification icons
  pai-bot/src/claude/client.ts
  pai-claude/workspace/scripts/on-post-tool-use.ts
  pai-claude/workspace/scripts/on-subagent-stop.ts
Due: bun-typecheck-bot

fix: use PostToolUse for Task notifications with full details
  pai-claude/workspace/scripts/on-post-tool-use.ts
  pai-claude/workspace/scripts/on-subagent-stop.ts
Due: none

chore(release): 1.5.8
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix: escape markdown in notify api to prevent parse errors
  pai-bot/src/api/server.ts
Due: bun-typecheck-bot

refactor: rewrite skills in English with improved structure
  pai-claude/workspace/.claude/skills/coding/SKILL.md
  pai-claude/workspace/.claude/skills/daily/SKILL.md
  pai-claude/workspace/.claude/skills/fabric/SKILL.md
  pai-claude/workspace/.claude/skills/google/SKILL.md
  pai-claude/workspace/.claude/skills/learning/SKILL.md
  pai-claude/workspace/.claude/skills/notify/SKILL.md
  pai-claude/workspace/.claude/skills/notify/references/code-examples.md
  pai-claude/workspace/.claude/skills/research/SKILL.md
  pai-claude/workspace/.claude/skills/web-deploy/SKILL.md
Due: none

fix: change notify success icon to arrow emoji
  pai-bot/src/api/server.ts
Due: bun-typecheck-bot

fix: show detailed error message in telegram replies
  pai-bot/src/platforms/telegram/handlers.ts
Due: bun-typecheck-bot

chore(release): 1.5.11
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

refactor: remove misclassified agents, merge into coding skill
  pai-claude/workspace/.claude/agents/Architect.md
  pai-claude/workspace/.claude/agents/Engineer.md
  pai-claude/workspace/.claude/agents/QATester.md
  pai-claude/workspace/.claude/agents/Researcher.md
  pai-claude/workspace/.claude/skills/coding/SKILL.md
  pai-claude/workspace/CLAUDE.md
Due: none

refactor: rewrite commands and rules in English
  pai-claude/workspace/.claude/commands/daily.md
  pai-claude/workspace/.claude/commands/research.md
  pai-claude/workspace/.claude/commands/summarize.md
  pai-claude/workspace/.claude/commands/weekly.md
  pai-claude/workspace/.claude/rules/bun.md
  pai-claude/workspace/.claude/rules/code-style.md
  pai-claude/workspace/.claude/rules/workspace.md
Due: none

chore(release): 1.5.13
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

feat: add task queue system with interrupt/queue options
  ansible/playbooks/deploy-bot.yml
  pai-bot/bun.lock
  pai-bot/package.json
  pai-bot/src/claude/queue-manager.ts
  pai-bot/src/claude/task-executor.ts
  pai-bot/src/platforms/telegram/bot.ts
  pai-bot/src/platforms/telegram/callbacks.ts
  pai-bot/src/platforms/telegram/handlers.ts
  pai-bot/src/utils/telegram.ts
Due: bun-typecheck-bot

Path conditions:
  mypy: any of: ^(scripts|setup)/ and \.py$
  bun-typecheck-bot: any of: ^pai-bot/.*\.(ts|tsx)$
