Repository allenlinli/weihung-pai: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bun-typecheck-bot

mypy:
  name: mypy
  entry: uv run mypy
  language: system
  args:
  - --ignore-missing-imports

bun-typecheck-bot:
  name: bun typecheck (pai-bot)
  entry: bash -c 'cd pai-bot && bun run typecheck'
  language: system
  pass_filenames: false

feat: add pai-web to CI/CD pipeline
  .github/workflows/deploy.yml
Due: none

chore(release): 1.41.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore(release): 1.42.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore(release): 1.43.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix(ansible): update web deploy config with vault variables
  ansible/inventory/group_vars/all/vault.yml
  ansible/playbooks/deploy-web.yml
  ansible/playbooks/templates/pai-web.Caddyfile.j2
  ansible/playbooks/templates/pai-web.env.j2
Due: none

chore(release): 1.43.1
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix(ws): improve reconnection with visibility change and exponential backoff
  pai-web/src/hooks/use-websocket.ts
Due: none

fix: MCP notify broadcast to web via internal API
  pai-bot/src/api/server.ts
  pai-bot/src/mcp/tools/notify.ts
Due: bun-typecheck-bot

feat(pai-web): add TOON format support for chat export
  pai-web/bun.lock
  pai-web/package.json
  pai-web/src/components/chat/chat-view.tsx
Due: none

chore(release): 1.44.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

ci: add Bun dependency cache for faster deploys
  .github/workflows/deploy.yml
Due: none

chore(release): 1.45.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore(release): 1.46.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore: extract web/api endpoints to vault config
  .env.example
  ansible/inventory/group_vars/all/vault.yml.example
  pai-web/.env.local.example
Due: none

chore: disable spotify connect functionality
  pai-bot/src/config.ts
  pai-bot/src/platforms/discord/commands.ts
  pai-bot/src/platforms/discord/handlers/slash-commands/index.ts
  pai-bot/src/platforms/discord/handlers/slash-commands/voice.ts
  pai-bot/src/platforms/discord/voice.ts
  scripts/__main__.py
Due: mypy, bun-typecheck-bot

feat(web): add RAG panel for vector DB status and testing
  pai-bot/src/api/server.ts
  pai-bot/src/rag/agentic_rag.py
  pai-bot/src/rag/obsidian_rag.py
  pai-web/src/App.tsx
  pai-web/src/components/layout/app-sidebar.tsx
  pai-web/src/components/rag/rag-view.tsx
  pai-web/src/hooks/use-rag.ts
  pai-web/src/lib/api.ts
Due: bun-typecheck-bot

chore(release): 1.49.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore(release): 1.49.1
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

refactor(rag): switch to hybrid Gemini model routing
  pai-bot/src/rag/agentic_rag.py
  pyproject.toml
  uv.lock
Due: none

chore(release): 1.49.2
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix: add EnvironmentFile to pai-bot service for API keys
  ansible/playbooks/setup-obsidian-rag.yml
  ansible/playbooks/templates/pai-bot.service.j2
  pai-web/src/App.tsx
Due: none

fix(db): sync memories schema with manager.ts
  pai-bot/scripts/test-memory.ts
  pai-bot/src/storage/schema.sql
Due: bun-typecheck-bot

fix(rag): use Bun.spawn instead of shell template for Python calls
  pai-bot/src/api/server.ts
Due: bun-typecheck-bot

chore(release): 1.49.6
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix(rag): fix LangGraph grade node to return dict
  pai-bot/src/rag/agentic_rag.py
Due: none

feat(knowledge-base): add skill for obsidian vault management
  pai-bot/src/mcp/tools/obsidian.ts
  pai-claude/workspace/.claude/skills/knowledge-base/SKILL.md
  pai-claude/workspace/.claude/skills/notify/SKILL.md
  pai-claude/workspace/.claude/skills/notify/references/code-examples.md
  pai-claude/workspace/.gitignore
  pai-claude/workspace/CLAUDE.md
Due: bun-typecheck-bot

chore(release): 1.50.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore: remove workspace symlink
  workspace
Due: none

feat: add Obsidian LiveSync with CouchDB for bidirectional sync
  ansible/inventory/group_vars/all/vault.yml
  ansible/inventory/group_vars/all/vault.yml.example
  ansible/playbooks/deploy-filesystem-livesync.yml
  ansible/playbooks/deploy-livesync-bridge.yml
  ansible/playbooks/deploy-livesync.yml
  ansible/playbooks/init/setup-vps.yml
  ansible/playbooks/templates/filesystem-livesync.config.json.j2
  ansible/playbooks/templates/filesystem-livesync.service.j2
  ansible/playbooks/templates/livesync-bridge.config.json.j2
  ansible/playbooks/templates/livesync-bridge.service.j2
  ansible/playbooks/templates/livesync-couchdb.docker-compose.yml.j2
  ansible/playbooks/templates/livesync.Caddyfile.j2
  pai-claude/workspace/.claude/skills/knowledge-base/SKILL.md
  pyproject.toml
  scripts/__main__.py
  scripts/sync.py
Due: mypy

chore(release): 1.51.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix: bun types
  pai-claude/bun.lock
  pai-claude/package.json
Due: none

fix: remove unused ActivityType import
  pai-bot/src/platforms/discord/handlers/slash-commands/voice.ts
Due: bun-typecheck-bot

chore(release): 1.53.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

feat: intel-feed two-stage AI (lite→flash) + individual notifications
  pai-bot/src/services/intel-feed/agent.ts
  pai-bot/src/services/intel-feed/index.ts
Due: bun-typecheck-bot

chore(release): 1.54.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

feat: intel-feed overview with links + save to memory
  pai-bot/src/services/intel-feed/agent.ts
  pai-bot/src/services/intel-feed/index.ts
Due: bun-typecheck-bot

fix: increase summary length to 150-250 chars
  pai-bot/src/services/intel-feed/agent.ts
Due: bun-typecheck-bot

chore(release): 1.55.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix: lite prompts in English, lower threshold to 5, enforce Traditional Chinese in flash
  pai-bot/src/claude/queue-manager.ts
  pai-bot/src/services/intel-feed/agent.ts
  pai-bot/src/services/intel-feed/config.ts
Due: bun-typecheck-bot

feat: add /mode command to toggle queue/interrupt mode
  pai-bot/src/claude/queue-manager.ts
  pai-bot/src/platforms/telegram/bot.ts
  pai-bot/src/platforms/telegram/handlers.ts
Due: bun-typecheck-bot

Path conditions:
  mypy: any of: ^(scripts|setup)/ and \.py$
  bun-typecheck-bot: any of: ^pai-bot/.*\.(ts|tsx)$
