Repository allenlinli/weihung-pai: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bun-typecheck-bot

.pre-commit-config.yaml:

repos:
  # Conventional commits
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]

  # Python linting and formatting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Python type checking
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        args: [--ignore-missing-imports]
        files: ^(scripts|setup)/

  # Bun/TypeScript type checking
  - repo: local
    hooks:
      - id: bun-typecheck-bot
        name: bun typecheck (pai-bot)
        entry: bash -c 'cd pai-bot && bun run typecheck'
        language: system
        files: ^pai-bot/.*\.(ts|tsx)$
        pass_filenames: false

fix: remove player panel and queue references
  pai-bot/src/platforms/discord/handlers/interactions/index.ts
  pai-bot/src/platforms/discord/handlers/interactions/music.ts
  pai-bot/src/platforms/discord/handlers/music-panel.ts
  pai-bot/src/platforms/discord/handlers/panels/index.ts
  pai-bot/src/platforms/discord/handlers/panels/mode-switcher.ts
  pai-bot/src/platforms/discord/handlers/panels/player.ts
  pai-bot/src/platforms/discord/handlers/slash-commands/voice.ts
Due: bun-typecheck-bot

chore(release): 1.24.1
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix(discord): add handleDiceSelectMenu for game system selection
  pai-bot/src/platforms/discord/handlers/interactions/dice.ts
  pai-bot/src/platforms/discord/handlers/interactions/index.ts
Due: bun-typecheck-bot

feat(discord): replace YouTube with Spotify Connect
  pai-bot/src/platforms/discord/commands.ts
  pai-bot/src/platforms/discord/handlers/index.ts
  pai-bot/src/platforms/discord/handlers/panels/types.ts
  pai-bot/src/platforms/discord/handlers/slash-commands/voice.ts
  pai-bot/src/platforms/discord/voice.ts
  scripts/__main__.py
  scripts/spotify.py
Due: mypy, bun-typecheck-bot

feat(mcp): add memory_delete and memory_update tools
  pai-bot/src/mcp/tools/memory.ts
  pai-bot/src/memory/manager.ts
  pai-bot/src/platforms/discord/handlers/slash-commands/voice.ts
  pai-bot/src/platforms/discord/voice.ts
Due: bun-typecheck-bot

feat(telegram): add message splitting for long responses
  pai-bot/src/claude/task-executor.ts
Due: bun-typecheck-bot

fix(discord): use MessageFlags.Ephemeral instead of deprecated ephemeral option
  pai-bot/src/platforms/discord/bot.ts
  pai-bot/src/platforms/discord/handlers/interactions/dice.ts
  pai-bot/src/platforms/discord/handlers/interactions/queue.ts
Due: bun-typecheck-bot

feat(garmin): add date range query support for all MCP tools
  pai-bot/src/mcp/tools/garmin.ts
  pai-bot/src/services/garmin/index.ts
  pai-bot/src/services/garmin/sync.py
  pai-bot/src/services/garmin/types.ts
Due: bun-typecheck-bot

chore(release): 1.26.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

feat(scripts): add git skip-worktree management tool
  scripts/__main__.py
  scripts/git.py
Due: mypy

feat: remove Ollama, simplify memory to SQLite, add Obsidian RAG
  ansible/playbooks/init/setup-vps.yml
  ansible/playbooks/setup-obsidian-rag.yml
  pai-bot/package.json
  pai-bot/src/config.ts
  pai-bot/src/mcp/server.ts
  pai-bot/src/mcp/tools/memory.ts
  pai-bot/src/mcp/tools/obsidian.ts
  pai-bot/src/memory/consolidation.ts
  pai-bot/src/memory/constants.ts
  pai-bot/src/memory/embedding.ts
  pai-bot/src/memory/index.ts
  pai-bot/src/memory/maintenance.ts
  pai-bot/src/memory/manager.ts
  pai-claude/scripts/obsidian_rag.py
  pyproject.toml
  uv.lock
Due: bun-typecheck-bot

chore(release): 1.27.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore(release): 1.27.1
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix(spotify): add auto-reconnect and reduce pregain to +1dB
  pai-bot/src/platforms/discord/voice.ts
Due: bun-typecheck-bot

chore(release): 1.28.1
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix(voice): cancel stale reconnect when new join happens
  pai-bot/src/platforms/discord/voice.ts
Due: bun-typecheck-bot

fix(spotify): auto-clear cache on auth errors
  pai-bot/src/platforms/discord/voice.ts
Due: bun-typecheck-bot

chore(release): 1.28.3
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix(spotify): kill stale librespot before starting new one
  pai-bot/src/platforms/discord/voice.ts
Due: bun-typecheck-bot

chore(release): 1.28.4
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore(release): 1.28.5
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore(release): 1.28.6
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

feat: migrate to Hostinger VPS and improve Spotify auth
  ansible/inventory/group_vars/all/vault.yml
  scripts/spotify.py
Due: mypy

chore(release): 1.29.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

feat: add 1GB swap configuration to VPS setup
  ansible/playbooks/init/setup-vps.yml
Due: none

feat(hooks): enhance SessionStart and Stop hooks with PAI-style context
  pai-claude/workspace/scripts/lib/history.ts
  pai-claude/workspace/scripts/lib/memory.ts
  pai-claude/workspace/scripts/on-session-start.ts
  pai-claude/workspace/scripts/on-stop.ts
Due: none

chore(release): 1.30.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

feat(deploy): add history directories for Stop hook
  ansible/playbooks/deploy-claude.yml
Due: none

chore(release): 1.31.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore(release): 1.32.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore(release): 1.34.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore(release): 1.35.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore(release): 1.36.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore(release): 1.37.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore(release): 1.38.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

feat: add workspace file browser
  pai-bot/src/api/server.ts
  pai-web/src/App.tsx
  pai-web/src/components/layout/app-sidebar.tsx
  pai-web/src/components/workspace/workspace-view.tsx
  pai-web/src/hooks/use-workspace.ts
  pai-web/src/lib/api.ts
Due: bun-typecheck-bot

chore(release): 1.39.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

feat: VS Code-style file browser, Caddy deploy, CodeMirror viewer
  ansible/playbooks/deploy-web.yml
  ansible/playbooks/templates/index.html.j2
  ansible/playbooks/templates/pai-web.Caddyfile.j2
  ansible/playbooks/templates/pai-web.env.j2
  pai-web/bun.lock
  pai-web/package.json
  pai-web/src/components/ui/resizable.tsx
  pai-web/src/components/workspace/workspace-view.tsx
  pai-web/src/main.tsx
Due: none

chore(release): 1.40.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none
