Repository allenlinli/weihung-pai: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bun-typecheck-bot

mypy:
  name: mypy
  entry: uv run mypy
  language: system
  args:
  - --ignore-missing-imports

bun-typecheck-bot:
  name: bun typecheck (pai-bot)
  entry: bash -c 'cd pai-bot && bun run typecheck'
  language: system
  pass_filenames: false

fix: use plain text for notify API messages
  pai-bot/src/index.ts
Due: bun-typecheck-bot

fix: correct pai-setup command in README
  README.md
Due: none

chore(release): 1.6.2
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore(release): 1.7.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix: capture stderr in parallel to prevent data loss
  pai-bot/src/claude/client.ts
Due: bun-typecheck-bot

chore(release): 1.7.1
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

docs: update site content to reflect current features
  pai-claude/workspace/site/index.html
  pai-claude/workspace/site/privacy-policy.md
  pai-claude/workspace/site/terms-of-service.md
Due: none

chore(release): 1.8.2
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

feat: add calendar event update support to Google MCP tools
  pai-bot/bun.lock
  pai-bot/src/mcp/tools/google.ts
Due: bun-typecheck-bot

chore(release): 1.9.2
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore(release): 1.9.3
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

chore(release): 1.9.4
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

refactor(workspace): use whitelist pattern for gitignore
  pai-claude/workspace/.gitignore
Due: none

refactor(pai-claude): simplify config structure
  pai-claude/context/Identity.md
  pai-claude/context/Principles.md
  pai-claude/history/README.md
  pai-claude/workspace/.claude/skills/scheduling/SKILL.md
  pai-claude/workspace/.gitignore
  pai-claude/workspace/CLAUDE.md
Due: none

chore(release): 1.10.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

feat(bot): add session tracking and HQ notification system
  pai-bot/src/api/server.ts
  pai-bot/src/index.ts
  pai-bot/src/mcp/server.ts
  pai-bot/src/mcp/tools/notify.ts
  pai-bot/src/platforms/discord/commands.ts
  pai-bot/src/platforms/discord/handlers.ts
  pai-bot/src/platforms/telegram/bot.ts
  pai-bot/src/platforms/telegram/handlers.ts
  pai-bot/src/storage/db.ts
  pai-bot/src/storage/schema.sql
  pai-bot/src/storage/sessions.ts
Due: bun-typecheck-bot

feat(bot): inject session context into Claude prompts
  pai-bot/src/claude/task-executor.ts
  pai-bot/src/platforms/discord/handlers.ts
  pai-bot/src/platforms/telegram/handlers.ts
  pai-claude/workspace/CLAUDE.md
Due: bun-typecheck-bot

feat(bot): add Garmin Connect integration
  .gitignore
  ansible/inventory/group_vars/all/vault.yml
  ansible/inventory/group_vars/all/vault.yml.example
  ansible/playbooks/templates/bot.env.j2
  pai-bot/src/mcp/server.ts
  pai-bot/src/mcp/tools/garmin.ts
  pai-bot/src/services/garmin/index.ts
  pai-bot/src/services/garmin/sync.py
  pai-bot/src/services/garmin/types.ts
  setup/config.py
Due: mypy, bun-typecheck-bot

feat(skills): refactor daily skill to life management system
  pai-bot/src/mcp/tools/memory.ts
  pai-claude/workspace/.claude/skills/daily/SKILL.md
  pai-claude/workspace/.claude/skills/daily/domains/health.md
  pai-claude/workspace/.claude/skills/daily/domains/investment.md
  pai-claude/workspace/.claude/skills/daily/workflows/daily-plan.md
  pai-claude/workspace/.claude/skills/daily/workflows/evening.md
  pai-claude/workspace/.claude/skills/daily/workflows/morning.md
  pai-claude/workspace/.claude/skills/daily/workflows/weekly-review.md
  pai-claude/workspace/.claude/skills/daily/workflows/weekly.md
  pai-claude/workspace/.claude/skills/memory/SKILL.md
Due: bun-typecheck-bot

feat(scripts): add discord invite command
  ansible/inventory/group_vars/all/vault.yml
  ansible/inventory/group_vars/all/vault.yml.example
  scripts/__main__.py
  scripts/discord.py
  setup/config.py
Due: mypy

chore(release): 1.15.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

feat(discord): improve music panel with queue display and track selection
  pai-bot/src/platforms/discord/bot.ts
  pai-bot/src/platforms/discord/commands.ts
  pai-bot/src/platforms/discord/handlers/index.ts
  pai-bot/src/platforms/discord/handlers/interactions.ts
  pai-bot/src/platforms/discord/handlers/music-panel.ts
  pai-bot/src/platforms/discord/handlers/slash-commands/voice.ts
  pai-bot/src/platforms/discord/voice.ts
Due: bun-typecheck-bot

fix(discord): improve voice connection state tracking
  pai-bot/src/platforms/discord/bot.ts
  pai-bot/src/platforms/discord/handlers/index.ts
  pai-bot/src/platforms/discord/handlers/interactions.ts
  pai-bot/src/platforms/discord/handlers/panels/dice.ts
  pai-bot/src/platforms/discord/handlers/panels/index.ts
  pai-bot/src/platforms/discord/handlers/panels/soundboard.ts
  pai-bot/src/platforms/discord/handlers/slash-commands/voice.ts
  pai-bot/src/platforms/discord/sounds.ts
  pai-bot/src/platforms/discord/voice.ts
Due: bun-typecheck-bot

chore(release): 1.18.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

feat(discord): add /panel slash command for control panel
  pai-bot/src/platforms/discord/commands.ts
  pai-bot/src/platforms/discord/handlers/slash-commands/index.ts
  pai-bot/src/platforms/discord/handlers/slash-commands/voice.ts
Due: bun-typecheck-bot

chore(release): 1.19.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

feat(discord): add dice accumulation with per-user panels
  pai-bot/src/platforms/discord/commands.ts
  pai-bot/src/platforms/discord/handlers/index.ts
  pai-bot/src/platforms/discord/handlers/interactions.ts
  pai-bot/src/platforms/discord/handlers/panels/dice.ts
  pai-bot/src/platforms/discord/handlers/panels/index.ts
  pai-bot/src/platforms/discord/handlers/panels/mode-switcher.ts
  pai-bot/src/platforms/discord/handlers/panels/soundboard.ts
  pai-bot/src/platforms/discord/handlers/panels/types.ts
  pai-bot/src/platforms/discord/handlers/slash-commands/index.ts
  pai-bot/src/platforms/discord/handlers/slash-commands/voice.ts
Due: bun-typecheck-bot

chore(release): 1.21.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

feat(discord): add quick roll and custom dice modal
  pai-bot/src/platforms/discord/bot.ts
  pai-bot/src/platforms/discord/handlers/index.ts
  pai-bot/src/platforms/discord/handlers/interactions.ts
  pai-bot/src/platforms/discord/handlers/panels/dice.ts
  pai-bot/src/platforms/discord/handlers/panels/index.ts
Due: bun-typecheck-bot

chore(release): 1.22.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

feat(discord): enhance dice panel with game systems and compound expressions
  pai-bot/src/platforms/discord/handlers/interactions.ts
  pai-bot/src/platforms/discord/handlers/interactions/dice.ts
  pai-bot/src/platforms/discord/handlers/interactions/index.ts
  pai-bot/src/platforms/discord/handlers/interactions/music.ts
  pai-bot/src/platforms/discord/handlers/interactions/queue.ts
  pai-bot/src/platforms/discord/handlers/panels/dice.test.ts
  pai-bot/src/platforms/discord/handlers/panels/dice.ts
  pai-bot/src/platforms/discord/handlers/panels/index.ts
  pai-bot/src/platforms/discord/handlers/slash-commands/voice.ts
Due: bun-typecheck-bot

chore(release): 1.23.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

docs: add README for subprojects and simplify root README
  README.md
  pai-bot/README.md
  pai-claude/README.md
  scripts/README.md
  scripts/discord.py
  setup/README.md
Due: mypy

feat(youtube): add vnc commands for cookie refresh
  ansible/playbooks/init/setup-vps.yml
  scripts/__main__.py
  scripts/youtube.py
Due: mypy

chore(discord): simplify bot permissions
  scripts/discord.py
Due: mypy

chore(release): 1.24.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

refactor: replace YouTube with Spotify Connect
  README.md
  ansible/playbooks/init/setup-librespot.yml
  pai-bot/src/mcp/server.ts
  pai-bot/src/mcp/tools/music.ts
  pai-bot/src/platforms/discord/commands.ts
  pai-bot/src/platforms/discord/handlers/slash-commands/index.ts
  pai-bot/src/platforms/discord/handlers/slash-commands/voice.ts
  pai-bot/src/platforms/discord/voice.ts
  scripts/README.md
  scripts/__main__.py
  scripts/spotify.py
  scripts/upload_cookies.py
  scripts/youtube.py
Due: mypy, bun-typecheck-bot

chore: remove YouTube/VNC dependencies from setup
  ansible/README.md
  ansible/playbooks/init/setup-vps.yml
Due: none

docs: update music feature to Spotify Connect
  pai-bot/README.md
Due: none

Path conditions:
  mypy: any of: ^(scripts|setup)/ and \.py$
  bun-typecheck-bot: any of: ^pai-bot/.*\.(ts|tsx)$
